{% extends "dashboard.html" %}
{% block title %}
Gallery
{% endblock %}

{% block page_content %}
<h1 class="text-3xl text-black pb-6 text-center" style = "font-family: cursive;">
	A picture is worth a thousand words
</h1>
<div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
	{% for image in images %}
	<div class="bg-white rounded overflow-hidden shadow-md">
		<img class="w-full sm:h-32 md:h-48 lg:h-64 xl:h-80 object-cover" src="{{ url_for('static', filename = 'img/nduundune/' + image)}}" alt="{{ image }}" alt="{{ image }}">
	</div>
	{% endfor %}
</div>
{% endblock %}
