{% extends "base.html" %}
{% block title %}
Login
{% endblock %}

{% block page_content %}
<div class="bg-gray-200 h-screen flex items-center justify-center">
    <div class="bg-white shadow-md rounded-md p-0 w-2/4">
        <div class="md:flex">
            <!-- Left side with image -->
            <div class="hidden md:block w-full md:w-1/2 p-0">
                <img src="{{ url_for('static', filename='img/authentication/login_image.jpg') }}" class="w-full h-full object-cover rounded-l-md">
            </div>

            <!-- Right side with login form -->
            <div class="w-full md:w-1/2 px-6 p-4">
                <h2 class="text-2xl font-semibold mb-6">Login</h2>
                <form id="loginForm" class="space-y-4">
                    <div>
                        <label for="emailAddress" class="block text-sm font-medium text-gray-700">Email Address</label>
                        <input type="email" id="emailAddress" name="emailAddress" autocomplete="email" required class="mt-1 p-2 block w-full border rounded-md shadow-sm focus:outline-none focus:border-blue-500">
                    </div>

                    <div>
                        <label for="password" class="block text-sm font-medium text-gray-700">Password</label>
                        <input type="password" id="password" name="password" autocomplete="current-password" required class="mt-1 p-2 block w-full border rounded-md shadow-sm focus:outline-none focus:border-blue-500">
                    </div>

                    <div class="flex items-center space-x-2">
                        <input type="checkbox" id="rememberMe" class="form-checkbox">
                        <label for="rememberMe" class="text-sm">Remember me</label>
                    </div>

                    <div class="text-sm">
                        <a href="{{ url_for('registration.register_user') }}" class="text-blue-500">Create an account</a> |
                        <a href="#" class="text-blue-500">Forgot password</a>
                    </div>

                    <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600 focus:outline-none focus:shadow-outline-blue active:bg-blue-800">Login</button>
                </form>
                <div id="errorAlert" class="mt-4 bg-red-100 border border-red-400 text-red-700 px-4 py-2 rounded-md hidden">
                    <!-- Error messages will appear here -->
                </div>
		<form id="redirectForm" action="{{ url_for('authentication.successful') }}" method="post" class="hidden">
			      <input type="hidden" name="token" id="tokenInput">
					       <input type="hidden" name="emailAddress" id="emailAddressInput">
							        <input type="hidden" name="details" id="detailsInput">
		</form>
            </div>
        </div>
    </div>

    <!-- Fetch API Script -->
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const loginForm = document.getElementById('loginForm');
            const errorAlert = document.getElementById('errorAlert');

            const serverName = '{{ api_server }}';
            const apiUrl = `${serverName}api/authentication/login`;
            const redirectUrl = null;

            loginForm.addEventListener('submit', function (event) {
                event.preventDefault();

                const formData = new FormData(loginForm);
                const data = {
                    emailAddress: formData.get('emailAddress'),
                    password: formData.get('password')
                };

                callFetch(data);
            });

            function callFetch(data) {
                fetch(apiUrl, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(data),
                })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error(`HTTP error! Status: ${response.status}`);
                        }
                        return response.json();
                    })
                    .then(responseData => {
					// save token to local storage
					localStorage.setItem('jwt_token', 
						responseData.access_token);

					// redirect to protected page
					token = responseData.access_token;

					// Populate form fields with data from the Fetch API
					document.getElementById('tokenInput').value = responseData.access_token;
					document.getElementById('detailsInput').value = JSON.stringify(responseData.details);

					// Submit the form to redirect to /authentication/successful
					document.getElementById('redirectForm').submit();
                    })
                    .catch(error => {
                        // Handle login errors
                        console.error('Error during login:', error);
                        displayError('Login failed. Please check your credentials and try again.');
                    });
            }

            function displayError(errorMessage) {
                errorAlert.textContent = errorMessage;
                errorAlert.classList.remove('hidden');
                setTimeout(function () {
                    errorAlert.classList.add('hidden');
                }, 10000);
            }
        });
    </script>
</div>

{% endblock %}
