{% extends "base.html" %}
{% block title %}
About Us
{% endblock %}

{% block page_content %}
<div class="font-sans">
	<header class="bg-gray-500 p-4 text-white text-center p-10">
		<div class="container mx-auto max-w-2lg">
			<h2 class="text-4xl font-semibold">Karibuni Sana</h2>
			<p class="text-xl my-6 calibri">Our mission is to enhance the dignity and quality of life of needy individuals and their families affected by cancer, elimination of barriers to quality education by providing nutritional and fees support for needy school children and enable them reach their fullest potential. </p>
			<a href="{{ url_for('registration.register_user') }}" class="bg-yellow-500 text-white py-4 px-8 rounded-full text-lg font-semibold hover:bg-yellow-600 transition duration-300">Create Account</a>
		</div>
	</header>
	<div class = "py-8">
		<img src="/static/img/main/main.jpg" alt="About Us Image" class="rounded-lg " style = "width:50%; height: auto; margin:0 auto;">
	</div>
	<!-- About Us Section -->
	<section id="about-us" class="bg-gray-100 m-0">
		<div class="container mx-auto">
			<div class="flex flex-col md:flex-row text-center">
				<div class="p-6">
					<h2 class="text-4xl header-2-color font-semibold mb-6">Who We Are</h2>
					<p class="mb-4 text-gray-700">{{ app_name }}'s OBRS is a groundbreaking online platform designed to bring people together through the love of literature. We are a team of passionate individuals committed to promoting a reading culture, supporting Kenyan authors, and making a meaningful difference in charitable initiatives. Our modus operandi revolves around innovation, transparency, and a deep sense of social responsibility.</p>
				</div>
			</div>
		</div>
	</section>
	<!-- Our Objectives Section -->
	<section id="our-values" class="m-0 p-4">
		<div class="container mx-auto">
			<h2 class="text-4xl header-2-color font-semibold mb-2 mt-10 text-center">Our Objectives</h2>
			<div class="flex flex-wrap mx-4 text-center">
				<div class="md:w-1/3 p-1">
					<div class="bg-white p-8 rounded-md">
						<img src="/static/img/main/innovation.jpg" alt="Value Icon" class="mb-4 rounded-lg w-full h-auto">
						<h3 class="text-2xl font-semibold mb-2">Promote a Reading Culture</h3>
						<p class="text-gray-700 text-center">
						Our raffles feature a diverse selection of books across genres, ensuring that there's something for every reader. From fiction to non-fiction, classics to contemporary releases, our raffles offer a curated literary experience.
						</p>
					</div>
				</div>
				<div class="md:w-1/3 p-1">
					<div class="bg-white p-8 rounded-md">
						<img src="/static/img/main/excellence.jpeg" alt="Value Icon" class="mb-4 rounded-lg w-full h-auto">
						<h3 class="text-2xl font-semibold mb-2">Encourage Kenyan Authors</h3>
						<p class="text-gray-700 text-center">{{ app_name }} is dedicated to supporting and promoting the incredible talent of Kenyan authors. Through our platform, we aim to provide them with a broader audience and recognition for their literary contributions.</p>
					</div>
				</div>
				<div class="md:w-1/3 p-1">
					<div class="bg-white p-8 rounded-md">
						<img src="/static/img/main/collaboration.jpg" alt="Value Icon" class="mb-4 rounded-lg w-full h-auto">
						<h3 class="text-2xl font-semibold mb-2">Raise Funds for Charity</h3>
						<p class="text-gray-700 text-center">Beyond the realms of books, {{ app_name }} is driven by a strong sense of social responsibility. We aim to contribute to various charitable causes by channeling the proceeds from our book raffle system to initiatives that make a positive impact on communities.</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="py-2 px-4 m-0">
		<div class="container mx-auto text-center">
			<h2 class="header-2-color text-4xl font-semibold mb-8">Our Values</h2>

			<div class="flex flex-wrap justify-center gap-8">
				<!-- Value Card 1 -->
				<div class="md:w-1/3 bg-white dark:bg-gray-800 p-3 rounded-lg">
					<i class="fas fa-handshake text-4xl mb-4 text-red-800"></i>
					<h3 class="text-xl font-semibold text-gray-800 dark:text-white mb-4">Respect</h3>
					<p class="text-gray-600 dark:text-gray-400">We treat all people with dignity and respect.</p>
				</div>

				<!-- Value Card 2 -->
				<div class="md:w-1/3 bg-white dark:bg-gray-800 p-3 rounded-lg">
					<i class="fas fa-globe text-4xl mb-4 text-blue-800"></i>
					<h3 class="text-xl font-semibold text-gray-800 dark:text-white mb-4">Stewardship</h3>
					<p class="text-gray-600 dark:text-gray-400">We honor our heritage by being socially, financially, and environmentally responsible.</p>
				</div>

				<!-- Value Card 3 -->
				<div class="md:w-1/3 bg-white dark:bg-gray-800 p-3 rounded-lg">
					<i class="fas fa-balance-scale text-4xl mb-4" style = "color:red; "></i>
					<h3 class="text-xl font-semibold text-gray-800 dark:text-white mb-4">Ethics</h3>
					<p class="text-gray-600 dark:text-gray-400">We strive to meet the highest ethical standards.</p>
				</div>

				<!-- Value Card 4 -->
				<div class="md:w-1/3 bg-white dark:bg-gray-800 p-3 rounded-lg">
					<i class="fas fa-graduation-cap text-4xl text-blue-500 mb-4"></i>
					<h3 class="text-xl font-semibold text-gray-800 dark:text-white mb-4">Learning</h3>
					<p class="text-gray-600 dark:text-gray-400">We challenge each other to strive for excellence and to continually learn.</p>
				</div>

				<!-- Value Card 5 -->
				<div class="md:w-1/3 bg-white dark:bg-gray-800 p-3 rounded-lg">
					<i class="fas fa-lightbulb text-4xl mb-4 text-pink-500"></i>
					<h3 class="text-xl font-semibold text-gray-800 dark:text-white mb-4">Innovation</h3>
					<p class="text-gray-600 dark:text-gray-400">We embrace continuous improvement, bold creativity, and change.</p>
				</div>
			</div>
		</div>
	</section>

	<!-- Beneficiaries Section -->
	<section class="container mx-auto m-0 p-4">

		<!-- Section Title -->
		<h2 class="header-2-color text-4xl font-semibold mb-8 text-center">Our Beneficiaries</h2>

		<!-- Beneficiary Cards -->
		<div class="flex flex-wrap justify-center gap-8 text-center">
			<!-- Nduundune Primary School Feeding Program -->
			<div class="max-w-md bg-white p-0 rounded-lg mb-8">
				<img src="/static/img/nduundune/nduundune_5.jpg" alt="Nduundune Primary School" class="w-full h-60 object-cover mb-4 rounded-md">
				<h3 class="text-xl font-semibold mb-2">Nduundune Primary School Feeding Program</h3>
				<p class="text-gray-700">Supporting the school's feeding program, we aim to address the critical needs outlined by the headmaster. The success of this initiative will serve as a model for other areas, multiplying the impact on a national scale.</p>
			</div>

			<!-- Alliance High School Endowment Fund Trust -->
			<div class="max-w-md bg-white p-0 rounded-lg mb-8">
				<img src="/static/img/main/school.jpg" alt="Alliance High School Endowment Fund Trust" class="w-full h-60 object-cover mb-4 rounded-md">
				<h3 class="text-xl font-semibold mb-2">Alliance High School Endowment Fund Trust</h3>
				<p class="text-gray-700">Contributing to scholarships for needy students admitted to Alliance High School, {{ app_name }} seeks to empower young minds through education.</p>
			</div>

			<!-- Cancer Advocacy -->
			<div class="max-w-md bg-white p-0 rounded-lg mb-8">
				<img src="/static/img/main/c_1.png" alt="Cancer Advocacy" class="w-full h-60 object-cover mb-4 rounded-md">
				<h3 class="text-xl font-semibold mb-2">Cancer Advocacy</h3>
				<p class="text-gray-700">As cancer warriors ourselves, we are deeply involved in cancer activism and patient support. Collaborating with cancer advocacy groups, we aim to make a positive impact on the lives of those affected by this challenging journey.</p>
			</div>

		</div>
	</section>

	<!-- Our Mission Section -->
	<section id="our-mission" class="bg-gray-100 m-0 p-4">
		<div class="container mx-auto">
			<div class="flex flex-col md:flex-row">
				<div class="md:w-1/2">
					<h3 class = "text-2xl font-semibold text-gray-600">Compliance with Raffle Authorization</h3>
					<p class="mb-4"><b>No Monetary Prize:</b> Our raffles offer books as prizes, promoting literacy and knowledge rather than monetary rewards.
					</p>
					<p class = "mb-4">
					<b>Charitable Purpose:</b> The core objective is to raise funds for charitable causes, supporting various initiatives aligned with our values.</p>
					<h3 class = "text-2xl font-semibold text-gray-600">Transparency and Accountability</h3>
					<p class="mb-4"><b>Regular Reports: </b>We believe in transparency. Regular reports detailing funds raised, charitable donations, and operational expenses will be accessible to both regulatory authorities and the public.</p>
					<p class="mb-4"><b>Alignment with Regulations: </b>We will adhere to all regulations set forth by the Betting Control and Licensing Board, ensuring compliance with legal and ethical guidelines.</p>
				</div>
				<div class="md:w-1/2 p-6">
					<img src="/static/img/main/image-3.avif" alt="Our Mission Image" class="rounded-lg w-full h-auto">
				</div>
			</div>
		</div>
	</section>

	<!-- Team Section -->
	<section class="m-0 p-4 mt-10 mb-10">
		<div class="container mx-auto">
			<h2 class="header-2-color mb-6 text-center text-4xl font-semibold">Meet Our Trustees</h2>
			<figure class="text-center">
				<img src="/static/img/main/trustees.jpg" class="w-max-md rounded-md mx-auto" alt="Trustees Image">
				<figcaption class="text-md text-gray-600 mt-2" style = "font-family: cursive;">Danson and Serah Kiundi Foundation Trustees: L to R: Richard Kiundi, Dr Grace Kiundi and Margaret Kiundi</figcaption>
			</figure>
		</div>
	</section>
</div>
{% endblock %}
