<!DOCTYPE html>
<html lang = 'en'>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		{% block scripts %}
		{{ moment.include_moment() }}
		{% endblock scripts%}
		<title>
			{% block title %}{% endblock title%} - {{app_name|title}}
		</title>

		{% block head %}
		<link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.jpg') }}" type="image/x-icon">
		<link rel="icon" href="{{ url_for('static', filename='img/favicon.jpg') }}" type="image/x-icon">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" crossorigin="anonymous">
		<link href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" rel="stylesheet">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/flowbite.min.js"></script>
		<style>
@import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');
		</style>
		{% endblock head %}
	</head>
	<body class="flex" style = "font-family: karla;">
		<aside class="relative bg-gray-800 h-screen w-64 hidden sm:block shadow-xl pb-6 overflow-y-auto">
			<div class="pl-3 pr-3 pb-3 pt-6">
				<a href="{{ url_for('main.index') }}" class="text-white text-3xl font-semibold uppercase hover:text-gray-300">
					<i class="fas fa-arrow-left mr-3"></i>
					HOME
				</a>
			</div>
			<nav class="text-white text-base font-semibold pt-3">
				<a href="{{ url_for('account.dashboard') }}" class="flex items-center text-white opacity-75 hover:opacity-100 py-4 pl-3 pr-3 nav-item">
					<i class="fas fa-tachometer-alt mr-3"></i>
					Dashboard
				</a>
				<a href="{{ url_for('account.view_users') }}" class="flex items-center text-white opacity-75 hover:opacity-100 py-4 pl-3 pr-3 nav-item">
					<i class="fas fa-users mr-3"></i>
					User Management
				</a>
				<a href="{{ url_for('account.view_books') }}" class="flex items-center text-white opacity-75 hover:opacity-100 py-4 pl-3 pr-3 nav-item">
					<i class="fas fa-book mr-3"></i>
					Book Management
				</a>
				<a href="{{ url_for('account.view_authors') }}" class="flex items-center text-white opacity-75 hover:opacity-100 py-4 pl-3 pr-3 nav-item">
					<i class="fas fa-feather mr-3"></i>
					Author Management
				</a>
				<a href="{{ url_for('account.view_categories') }}" class="flex items-center text-white opacity-75 hover:opacity-100 py-4 pl-3 pr-3 nav-item">
					<i class="fas fa-folder mr-3"></i>
					Category Management
				</a>
				<a href="{{ url_for('account.view_raffles') }}" class="flex items-center text-white opacity-75 hover:opacity-100 py-4 pl-3 pr-3 nav-item">
					<i class="fas fa-gift mr-3"></i>
					Raffle Management
				</a>
				<a href="{{ url_for('account.view_tickets') }}" class="flex items-center text-white opacity-75 hover:opacity-100 py-4 pl-3 pr-3 nav-item">
					<i class="fas fa-ticket-alt mr-3"></i>
					Tickets Management
				</a>
				<a href="{{ url_for('account.explore_authors') }}" class="flex items-center text-white opacity-75 hover:opacity-100 py-4 pl-3 pr-3 nav-item">
					<i class="fas fa-pen mr-3"></i>
					Explore Authors
				</a>
				<a href="{{ url_for('account.explore_books') }}" class="flex items-center text-white opacity-75 hover:opacity-100 py-4 pl-3 pr-3 nav-item">
					<i class="fas fa-book-open mr-3"></i>
					Explore Books
				</a>
				<a href="{{ url_for('account.explore_raffles') }}" class="flex items-center text-white opacity-75 hover:opacity-100 py-4 pl-3 pr-3 nav-item">
					<i class="fas fa-gift mr-3"></i>
					Explore Active Raffles
				</a>
				<a href="{{ url_for('account.explore_tickets') }}" class="flex items-center text-white opacity-75 hover:opacity-100 py-4 pl-3 pr-3 nav-item">
					<i class="fas fa-hourglass-half mr-3"></i>
					My Tickets
				</a>
				<a href="{{ url_for('account.won_raffles') }}" class="flex items-center text-white opacity-75 hover:opacity-100 py-4 pl-3 pr-3 nav-item">
					<i class="fas fa-trophy mr-3"></i>
					Won Raffles
				</a>
				<a href="{{ url_for('account.explore_winners') }}" class="flex items-center text-white opacity-75 hover:opacity-100 py-4 pl-3 pr-3 nav-item">
					<i class="fas fa-trophy mr-3"></i>
					Explore Winners
				</a>
				<a href="{{ url_for('account.past_raffles') }}" class="flex items-center text-white opacity-75 hover:opacity-100 py-4 pl-3 pr-3 nav-item">
					<i class="fas fa-history mr-3"></i>
					Past Raffles
				</a>
				<a href="{{ url_for('account.reports') }}" class="flex items-center text-white opacity-75 hover:opacity-100 py-4 pl-3 pr-3 nav-item">
					<i class="fas fa-chart-bar mr-3"></i>
					Reports
				</a>
				<a href="{{ url_for('account.view_profile') }}" class="flex items-center text-white opacity-75 hover:opacity-100 py-4 pl-3 pr-3 nav-item">
					<i class="fas fa-user mr-3"></i>
					View Profile
				</a>
				<a href="{{ url_for('account.view_transactions') }}" class="flex items-center text-white opacity-75 hover:opacity-100 py-4 pl-3 pr-3 nav-item">
					<i class="fas fa-history mr-3"></i>
					Transactions History
				</a>
				<a href="{{ url_for('account.settings') }}" class="flex items-center text-white opacity-75 hover:opacity-100 py-4 pl-3 pr-3 nav-item">
					<i class="fas fa-cogs mr-3"></i>
					Account Settings
				</a>
				<a href="{{ url_for('account.gallery') }}" class="flex items-center text-white opacity-75 hover:opacity-100 py-4 pl-3 pr-3 nav-item">
					<i class="fas fa-images mr-3"></i>
					Gallery
				</a>
				<a href="{{ url_for('account.explore_events') }}" class="flex items-center text-white opacity-75 hover:opacity-100 py-4 pl-3 pr-3 nav-item">
					<i class="fas fa-calendar-alt mr-3"></i>
					Events
				</a>
				<a href="{{ url_for('account.notifications') }}" class="flex items-center text-white opacity-75 hover:opacity-100 py-4 pl-3 pr-3 nav-item">
					<i class="fas fa-bell mr-3"></i>
					Notifications
				</a>
			</nav>
		</aside>

		<div class="relative w-full flex flex-col h-screen overflow-y-hidden">
			<!-- Desktop Header -->
			<header class="w-full items-center bg-white py-2 px-6 hidden sm:flex">
				<div class="w-1/2"></div>
				<div x-data="{ isOpen: false }" class="relative w-1/2 flex justify-end">
					<button @click="isOpen = !isOpen" class="realtive z-10 w-12 h-12 rounded-full overflow-hidden border-4 border-gray-400 hover:border-gray-300 focus:border-gray-300 focus:outline-none">
						<img id = "profile-image">
					</button>
					<button x-show="isOpen" @click="isOpen = false" class="h-full w-full fixed inset-0 cursor-default"></button>
					<div x-show="isOpen" class="absolute bg-white rounded-lg shadow-lg mt-16">
						<div class="px-4 py-3 dark:text-white font-semibold rounded-t-lg bg-gray-300">
							<div class="font-medium truncate">{{ current_user.id }}</div>
						</div>
						<a href="{{ url_for('account.view_profile') }}" class="block px-4 py-2 hover:bg-gray-600 hover:text-white">Account</a>
						<a href="{{ url_for('main.contact_us') }}" class="block px-4 py-2 hover:bg-gray-600 hover:text-white">Support</a>
						<a href="{{ url_for('authentication.logout') }}" class="block px-4 py-2 hover:bg-gray-600 hover:text-white rounded-b-lg">Sign Out</a>
					</div>
				</div>
			</header>

			<!-- Mobile Header & Nav -->
			<header x-data="{ isOpen: false }" class="w-full bg-gray-800 py-5 px-6 sm:hidden">
				<div class="flex items-center justify-between">
					<a href="index.html" class="text-white text-3xl font-semibold uppercase hover:text-gray-300">
						<i class="fas fa-home mr-3"></i>
					</a>
					<button @click="isOpen = !isOpen" class="text-white text-3xl focus:outline-none">
						<i x-show="!isOpen" class="fas fa-bars"></i>
						<i x-show="isOpen" class="fas fa-times"></i>
					</button>
				</div>

				<!-- Dropdown Nav -->
				<nav :class="isOpen ? 'flex': 'hidden'" class="flex flex-col pt-4">
					<a href="{{ url_for('account.dashboard') }}" class="flex items-center text-white opacity-75 hover:opacity-100 py-2 pl-4 nav-item">
						<i class="fas fa-tachometer-alt mr-3"></i>
						Dashboard
					</a>
					<a href="{{ url_for('account.view_raffles') }}" class="flex items-center active-nav-link text-white py-2 pl-4 nav-item">
						<i class="fas fa-gift mr-3"></i>
						Raffles
					</a>
					<a href="{{ url_for('account.view_books') }}" class="flex items-center text-white opacity-75 hover:opacity-100 py-2 pl-4 nav-item">
						<i class="fas fa-book mr-3"></i>
						Books
					</a>
					<a href="{{ url_for('account.view_tickets') }}" class="flex items-center text-white opacity-75 hover:opacity-100 py-2 pl-4 nav-item">
						<i class="fas fa-ticket-alt mr-3"></i>
						My Tickets
					</a>
					<a href="{{ url_for('account.reports') }}" class="flex items-center text-white opacity-75 hover:opacity-100 py-2 pl-4 nav-item">
						<i class="fas fa-chart-bar mr-3"></i>
						Reports
					</a>
					<a href="{{ url_for('account.settings') }}" class="flex items-center text-white opacity-75 hover:opacity-100 py-2 pl-4 nav-item">
						<i class="fas fa-cogs mr-3"></i>
						Settings
					</a>
					<a href="{{ url_for('main.contact_us') }}" class="flex items-center text-white opacity-75 hover:opacity-100 py-2 pl-4 nav-item">
						<i class="fas fa-headset mr-3"></i>
						Support
					</a>
					<a href="{{ url_for('account.view_profile') }}" class="flex items-center text-white opacity-75 hover:opacity-100 py-2 pl-4 nav-item">
						<i class="fas fa-user mr-3"></i>
						My Account
					</a>
					<a href="{{ url_for('authentication.logout') }}" class="flex items-center text-white opacity-75 hover:opacity-100 py-2 pl-4 nav-item">
						<i class="fas fa-sign-out-alt mr-3"></i>
						Sign Out
					</a>
				</nav>
			</header>

			<div class="w-full h-screen overflow-x-hidden border-t flex flex-col">
				<main class="w-full flex-grow p-6">
					{% block content %}
					{% block page_content %}{% endblock page_content %}
					{% endblock content %}
				</main>
			</div>

			<!-- Desktop Header -->
			<div class="w-full py-4 px-4 bg-white text-center border-t border-gray-200 shadow md:flex md:items-center md:justify-between md:p-4 dark:bg-gray-800 dark:border-gray-600">
				<span class="text-sm text-gray-800 sm:text-center dark:text-gray-800">© 2023
					<a href="{{ url_for('main.index') }}" class="hover:underline">{{ app_name }}</a> OBRS. All Rights Reserved.
				</span>
				<ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-800 dark:text-gray-800 sm:mt-0">
					<li>
						<a href="{{ url_for('main.index') }}" class="hover:underline me-4 md:me-6 px-2">About Us</a>
					</li>
					<li>
						<a href="{{ url_for('main.how_it_works') }}" class="hover:underline me-4 md:me-6 px-2">How it Works</a>
					</li>
					<li>
						<a href="{{ url_for('main.faq') }}" class="hover:underline me-4 md:me-6 px-2">FAQ</a>
					</li>
					<li>
						<a href="{{ url_for('main.contact_us') }}" class="hover:underline px-2">Contact Us</a>
					</li>
				</ul>
			</div>
		</div>
		<!-- AlpineJS -->
		<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
		<!-- Font Awesome -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" integrity="sha256-KzZiKy0DWYsnwMF+X1DvQngQ2/FxF7MF3Ff72XcpuPs=" crossorigin="anonymous"></script>
		<script>
			image = "{{ current_user.imageUrl }}";

			// Remove HTML encoding
			image = image.replace(/&amp;/g, '&');
			document.getElementById("profile-image").src = image;
		</script>
	</body>
</html>
